<!-- src/main/resources/templates/fragments/head.html -->
<th:block th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">ToDoLab</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_green.css">

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/app.css">
</th:block>
